/* ====================== Restaurant Details ====================== */

html {
  --emoji-checkbox-width: 1.5em;
}

#form-fab {
  background-color: crimson;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 2000;
}

#breadcrumb ul {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #ddd;
  font-size: 20px;
  width: calc(100% - 80px);
  margin: 0;
}

#breadcrumb li {
  display: inline;
}

#breadcrumb li + li::before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

#breadcrumb li a {
  color: #0062b5;
  text-decoration: none;
}

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

#reviews-container {
  padding: 30px 40px 80px;
  order: 3;
}

#reviews-container h2 {
  color: crimson;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#restaurant-hours td {
  color: #666;
}

#app-shell.restaurant {
  display: flex;
  flex-direction: column;
}

.today {
  font-weight: bold;
}

.restaurant #restaurant-container {
  order: 1;
  display: flex;
  flex-flow: column;
}

.restaurant #map-container {
  order: 0;
}

.restaurant #app {
  order: 2;
}

.restaurant #restaurant-image-container {
  order: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

.restaurant #restaurant-name {
  order: 0;
}

.restaurant #restaurant-info > * {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.restaurant #restaurant-details-container {
  order: 2;
  display: flex;
  width: 100%;
}

.restaurant #restaurant-cuisine {
  margin-left: auto;
  margin-right: 1em;
}

.restaurant #restaurant-info {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  display: flex;
  bottom: 0;
  width: calc(100% - 2em);
  padding: 1em;
  background: hsla(0, 100%, 100%, 0.5);
}

@media (min-width: 630px) {
  #reviews-list {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }

  #app-shell.restaurant {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurant #map-container,
  .restaurant #restaurant-container {
    max-width: 50%;
  }

  .restaurant #map-container {
    order: 1;
  }

  .restaurant #restaurant-container {
    order: 0;
  }

  .restaurant #app {
    order: 2;
  }

  .restaurant #good-map {
    height: 100%;
  }

  .restaurant #good-map good-map {
    min-height: initial;
    height: 100%;
  }
}
