/* ====================== Restaurant Details ====================== */

#form-fab {
  background-color: var(--restaurant-primary-color);
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 2000;
}

#breadcrumb {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 4px;
}

#breadcrumb ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#breadcrumb li {
  display: inline;
  color: white;
}

#breadcrumb li + li::before {
  content: "/\00a0";
}

#breadcrumb li a {
  color: var(--restaurant-secondary-color);
  text-decoration: none;
}

#breadcrumb li a:hover {
  color: #1592ff;
  text-decoration: underline;
}

#reviews-container {
  padding: 30px 40px 80px;
  order: 3;
}

#reviews-container h2 {
  color: var(--restaurant-primary-color);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#restaurant-hours {
  border-spacing: 0;
  color: #666;
}

#restaurant-hours td {
  padding: 0.25em 1em;
}

#app.restaurant {
  display: flex;
  flex-flow: row wrap;
}

.today {
  font-weight: bold;
  background-color: var(--restaurant-secondary-color);
  color: black;
}

.restaurant #map-container {
  order: 0;
}

.restaurant #app {
  order: 2;
}

#restaurant-container {
  order: 1;
  display: flex;
  flex-flow: column;
}

#restaurant-address {
  text-align: center;
  padding: 0 1em;
  font-size: 16px;
}

#restaurant-image-container {
  order: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
}

#restaurant-image {
  height: 100%;
  --lazy-image-img-height: 100%;
  --lazy-image-img-object-fit: cover;
}

#restaurant-name {
  order: 0;
}

#restaurant-info > * {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

#restaurant-details-container {
  padding: 1em;
  order: 2;
  justify-content: space-around;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

#restaurant-cuisine {
  margin-left: auto;
  margin-right: 1em;
}

#restaurant-info {
  position: absolute;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background: linear-gradient(transparent, var(--restaurant-image-caption-color));
}

@media (min-width: 630px) {
  #reviews-list {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }

  .restaurant #app {
    order: 2;
  }

  .restaurant #map-container {
    order: 1;
  }

  .restaurant #good-map {
    height: 100%;
  }

  .restaurant #good-map good-map {
    min-height: initial;
    height: 100%;
  }

  .restaurant #map-container,
  #restaurant-container {
    width: 50%;
    max-width: 50%;
  }

  #restaurant-details-container {
    order: 2;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  #restaurant-container {
    order: 0;
  }

  #restaurant-address {
    order: 1;
  }

  #restaurant-hours {
    order: 0;
  }
}
